
<div *ngFor="let article of articles">
  <h2 (click)="read(article)">{{ article.headline }}</h2>
  <div class="subh2"><span>Created: {{ article.created_at | date:'medium' }}</span>
    <span *ngIf="article.updated_at !== article.created_at"> - Updated: {{ article.updated_at | date:'medium' }}</span></div>
  <div>
    {{ article.byline ? article.byline : '' }}
  </div>
  <hr>
</div>
