
<div *ngIf="article">

  <div style="margin-bottom: 1.5em;">
    <label for="body">Headline</label><br>
    <input type="text" class="form-control" id="headline" name="headline"
           required
           [(ngModel)]="article.headline"
           #headline="ngModel"
           style="width: 100%;">
    <div [hidden]="headline.valid || headline.pristine"
         class="alert alert-danger">
      Headline is required
    </div>
  </div>

  <div style="margin-bottom: 1.5em;"><span>Created: {{ article.created_at | date:'medium' }}</span>
    <span *ngIf="article.updated_at !== article.created_at"> - Updated: {{ article.updated_at | date:'medium' }}</span></div>

  <div style="margin-bottom: 1.5em;">
    <label for="byline">Byline</label><br>
    <input type="text" class="form-control" id="byline" name="byline"
           required
           [(ngModel)]="article.byline"
           #byline="ngModel"
           style="width: 100%;">
  </div>

  <div>
    <label for="body">Body</label><br>
    <textarea class="form-control" id="body" name="body"
              required
              [(ngModel)]="article.body"
              #body="ngModel"
              style="width: 100%; height: 5em;"></textarea>
    <div [hidden]="body.valid || body.pristine"
         class="alert alert-danger">
      Boby is required
    </div>
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>

</div>
