<h3>
  Login
</h3>

<div>
  <label>Username: </label>
  <input [(ngModel)]="username" placeholder="username">
</div>
<div>
  <label>Password: </label>
  <input [(ngModel)]="password" placeholder="password" type="password">
</div>

<button (click)="login()">Login</button>
